<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.depa.flang">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BaseActivity"/>
        <activity android:name=".Settings"/>
        <activity android:name=".Progress"/>
        <activity android:name=".WordInfo" />
        <activity android:name=".Test"/>
        <activity android:name=".TestHistory" />
        <activity android:name=".ScreenSlidePagerActivity" />
        <activity android:name=".TestResults" />
        <activity android:name=".THistoryByDate" />
        <activity android:name=".THistoryChart" />

        <service android:name=".NotificationService"/>
    </application>

</manifest>
