<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.depa.flang">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.BaseActivity" />
        <activity android:name=".ui.activities.SharableActivity" />
        <activity android:name=".ui.activities.Settings" />
        <activity android:name=".ui.activities.Progress" />
        <activity android:name=".ui.activities.WordInfo" />
        <activity android:name=".ui.activities.Test" />
        <activity android:name=".ui.activities.TestHistory" />
        <activity android:name=".ui.activities.Help" />
        <activity android:name=".ui.activities.TestResults" />
        <activity android:name=".ui.activities.TestableActivity" />

        <service android:name=".NotificationService"/>
    </application>

</manifest>
